body {
    background-color: #efefef;
    margin: 20;
}

h1 {
    color: #fff;
    font-family: 'times', serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.3;
    margin: 0
}

h2 {
    color: rgba(255, 255, 255, 0.4);
    font-family: 'times', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    margin: 30px 0 20px 0
}

h3 {
    font-weight: 400;
    font-family: 'arial', sans-serif;
    opacity: 0.2
}

body {
    font-family: 'arial', sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 1.3;
}

i {
    color: rgba(0, 0, 0, 0.2)
}

a {
    color: rgb(255, 91, 77);
    text-decoration: none;
}

.variant {
    border-radius: 10px;
    border: solid rgb(230, 230, 230) 1px;
    padding: 10px 10px 10px 30px;
    margin: 10px 0 0 0;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.variant:hover {
    background: #f2f2f2
}

.variant:active {
    transition: 0.2s ease-in-out;
    opacity: 0.3;
}

.variant-mark {
    color: rgba(0, 0, 0, 0.2);
    margin: 0 10px 0 -20px;
    border: none !important
}

.selectone {
    background-color: #fff;
    border: rgb(230, 230, 230) solid 1px;
    border-radius: 10px;
    font-size: 14px;
    height: 2.4em;
    width: 172px;
    margin: 5px 0;
}

.more {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    margin-top: 5px;
}

.wrong {
    border: solid rgb(255, 171, 166) 1px;
    color: rgb(255, 91, 77);
    cursor: default;
}

.ok {
    border: solid rgba(4, 200, 38, 0.62) 1px;
    color: rgb(4, 200, 38);
    cursor: default;
}

.innactive {
    color: rgba(0, 0, 0, 0.3);
    cursor: default;
    transition: none !important;
}

.innactive:hover {
    background: none;
    transition: none !important;
    opacity: 1 !important;
}

.innactive:active {
    transition: none !important;
    opacity: 1 !important;
}

.inactive {
    color: rgba(0, 0, 0, 0.3);
    cursor: default;
    transition: none !important;
}

.inactive:hover {
    background: none;
    transition: none !important;
    opacity: 1 !important;
}

.inactive:active {
    transition: none !important;
    opacity: 1 !important;
}

.wrong:hover {
    background: none
}

.wrong:active {
    transition: none !important;
    opacity: 1 !important;
}

.ok:hover {
    background: none
}

.ok:active {
    transition: none !important;
    opacity: 1 !important;
}

.btn {
    font-family: 'arial' sans-serif;
    color: #fff;
    background: #ff4c42;
    padding: 13px 30px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.btn:hover {
    transition: 0.1s ease-in-out;
    box-shadow: 0px 5px 15px 0px rgba(255, 76, 66, 0.4);
}

.btn:active {
    transition: 0.2s ease-in-out;
    opacity: 0.3;
}

.logobox {
    text-align: center;
    margin: 40px 0 0 0;
}

.mainbox {
    max-width: 560px;
    background: #fff;
    color: #000;
    margin: 20px auto 40px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.coverimg {
    background-size: cover;
    color: #fff;
    text-align: center;
    height: 200px;
    border-radius: 10px 10px 0 0;
    padding: 50px 20px 50px 20px;
}

.question-container {
    padding: 20px 20px 30px 20px;
}

.btn-container {
    text-align: center; 
    margin: 40px 0 30px 0;
}

.question-container > .welcome-text {
    margin-top: 10px;
}

.photolable-l {
    text-align: left;
}

.photolable-r {
    text-align: right;
}

.photolable-ok {
    color: rgb(4, 200, 38);
}

.photolable-wrong {
    color: rgb(255, 91, 77);
}

.share {
    cursor: pointer;
}

.finish-header {
    color: black !important; 
    font-size: 22px; 
    margin-bottom: 32px;
}